*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    line-height: 1.4;
    font-weight: 300;
}

.hero_section{
    background-image:url(p4img4.jpg) ;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text_container{
    color: white;
    min-width: 900px;
    margin: 0 auto;
    padding-top: 64px;
    padding-left: 16px;
}
.lg-text{
    font-size: 72px ;
    font-weight: 400px;
} 
.black-box{
padding: 20px;
background-color: black;
}
.black-box span {
    font-weight: 300;
    font-size: 76px;
    color: white;
    text-align: center;
    padding-left: 700px ;
}
.black-box h2 {
    font-size: 64px;
    color: white;
    text-align: center;
    font-weight: 200px;
}
.work{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}
.card{
    max-width: 320px ;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
}
.imgcontainor{

}